<launch>
  <arg name="usb_port_frontal" default="/dev/ttyUSB3"/>
  <arg name="usb_port_posterior" default="/dev/ttyUSB4"/>

  <arg name="dxl_baud_rate" default="4000000"/>

  <arg name="namespace_frontal" default="ankle_exo/frontal"/>
  <arg name="namespace_posterior" default="ankle_exo/posterior"/>

  <arg name="control_mode" default="velocity_control"/>

  <arg name="use_dynamixel_server" default="true"/>


  <!-- Frontal Nodes -->
  <group ns="$(arg namespace_frontal)">
    <param name="dynamixel_info"          value="$(find ankle_exoskeleton)/config/frontal.yaml"/>

    <node name="dynamixel_motor" pkg="ankle_exoskeleton" type="dynamixel_controllers"
          required="true" output="screen" args="$(arg usb_port_frontal) $(arg dxl_baud_rate) $(arg control_mode)">

      <param name="use_dynamixel_server" value="$(arg use_dynamixel_server)"/>
      <rosparam>
        publish_period: 0.0025
        dxl_read_period: 0.0025
      </rosparam>
    </node>

    <node name="dxl_physical_info" pkg="ankle_exoskeleton" type="dynamixel_physical_info.py" output="screen"></node>

  </group>

  <!-- Posterior Nodes -->
  <group ns="$(arg namespace_posterior)">
    <param name="dynamixel_info"          value="$(find ankle_exoskeleton)/config/posterior.yaml"/>

    <node name="dynamixel_motor" pkg="ankle_exoskeleton" type="dynamixel_controllers"
          required="true" output="screen" args="$(arg usb_port_posterior) $(arg dxl_baud_rate) $(arg control_mode)">

      <param name="use_dynamixel_server" value="$(arg use_dynamixel_server)"/>
      <param name="dynamixel_info" value="$(find ankle_exoskeleton)/config/posterior.yaml"/>
      <rosparam>
        publish_period: 0.0025
        dxl_read_period: 0.0025
      </rosparam>
    </node>

    <node name="dxl_physical_info" pkg="ankle_exoskeleton" type="dynamixel_physical_info.py" output="screen"></node>
  </group>

</launch>
