<launch>
    <group ns="foot" clear_params="true">
        <param name="port_name" value="/dev/ttyUSB0"/>
        <param name="node_name" value="imu_data"/>
        <node pkg="ankle_exoskeleton" name="imu_data" type="imu_data_acq.py" output="screen"/>
    </group>
    <group ns="shank" clear_params="true">
        <param name="port_name" value="/dev/ttyUSB2"/>
        <param name="node_name" value="imu_data"/>
        <node pkg="ankle_exoskeleton" name="imu_data" type="imu_data_acq.py" output="screen"/>
    </group>
</launch>

